body{
    
}

.title {
    margin-bottom: 20px;
    font-size: 20px;
}

.mainGrid {
    display: flex;
    flex-wrap: wrap;
    outline: 4px solid black;
    width: 40rem;
    height: 40rem;

}

.gridCell {
    outline: 1px solid black;
    box-sizing: border-box;
}

.gridCell:hover {
    background-color: aqua;
}

.resetBtn {
    margin-top: 40px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
}

.bigContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sizer {
height: 100px;
width: 100px;
margin-top: 200px;
margin-left: 250px;
margin-right: 100px;
}

.biggerContainer {
    display: flex;
    justify-content: start;
}